body {
    font-family: 'Roboto', sans-serif;
    color: #757575;
}

:root {
    --color-blue: #2196F3;
    --color-studio: #000000;
    --color-black-light: #212121;
    --font-Web-Studio: 'Raleway', sans-serif;
}

.style-link-none {
    text-decoration: none;
}

.style-list-none {
    list-style-type: none;
}

